//ACTIVE PROPERTY IN SCSS
$green: #00af66;
.green {
  color: $green;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}
.formstxt {
  color: $green;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 0px;
  transition: 0.3s;
  cursor: pointer;
}
.formactive {
  color: $green;
  display: block;
  padding: 10px 5px;

  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  background-color: #f1ebeb;
}

.black {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;

  &:hover {
    color: $green;
  }
}
// END ACTIVE PROPERTY IN SCSS

// GENERAL MEDIA DEVICE

.nav {
  background-color: rgb(246, 244, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  &--logo {
    &__img {
      img {
        margin-top: 8px;
        width: 50px;
      }
    }
  }
  &--menus {
    width: 60%;
    &--ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;

      // background-color: red;

      &__li {
        // background-color: #00af66;

        .dropdown {
          text-align: center;
          position: relative;
          display: inline-block;

          .dropbtn {
            color: black;
            font-weight: 600;
            font-size: 14px;
            padding: 6px 0px;
            transition: 0.3s;
            cursor: pointer;
          }

          .dropdown-content {
            display: none;

            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 100;
            transform: translateX(-22%);
            position: absolute;
          }
          .dropdown-content > .link {
            display: block;
            padding: 10px 5px;
            color: rgb(8, 8, 8);
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;
            background-color: #f1f1f1;
          }

          .link:hover {
            color: $green;
            background-color: rgb(255, 255, 255);
          }
        }
        .dropdown:hover {
          .dropbtn {
            color: $green;
            cursor: pointer;
          }
        }
      }

      .block {
        display: block;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transform: translateX(-22%);
        position: absolute;
      }
      .block > .link {
        display: block;
        padding: 10px 5px;
        color: rgb(8, 8, 8);
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        background-color: #f1f1f1;
      }
    }
  }

  &-icons {
    display: none;
  }
}

// END GENERAL MEDIADEVICE

@media only screen and (min-width: 700px) {
  .dropdown:hover {
    .dropdown-content {
      display: block;
    }
  }
  // .block {
  //   display: block;
  // }
  // .dropdown-content {
  //   display: none;
  // }
}

@media only screen and (max-width: 576px) {
  .nav {
    display: flex;
    justify-content: space-between;

    &--logo {
      margin-left: 3rem;
      font-size: 18px;
    }
    &-icons {
      margin-right: 3rem;
      font-size: 18px;
      display: block;
    }

    &--menus {
      position: fixed;
      left: 0%;
      right: 0%;
      top: -100%;
      width: 100vw;
      height: 100vh;
      background-color: rgb(237, 243, 237);
      transition: 0.5s;
      z-index: 100;

      &--ul {
        display: initial;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-around;

        &__li {
          padding: 20px 0px;
        }

        .dropdown {
          min-width: 150px;
          text-align: center;

          .dropbtn {
            font-size: 14px;
            font-weight: 600;
          }

          .dropdown-content {
            display: none;
          }

          .link:hover {
            color: $green;
          }
        }

        .dropdown:hover {
          .dropbtn {
            color: $green;
          }
        }
      }
    }
    .show {
      top: 10%;
    }
    .block {
      display: block;
      background-color: #f9f9f9;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      transform: translateY(10%);
      position: initial;
    }
    .block > .link {
      display: block;
      padding: 10px 5px;
      color: rgb(8, 8, 8);
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      background-color: #f1f1f1;
    }
  }
}
