.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  gap: 20px;
  background-color: rgb(235, 240, 235);
  position: relative;

  &--img {
    .flying-birds {
      width: 200px;
      left: 20%;
      position: absolute;
      transform: translateY(-40px);
    }
    .pipal-tree {
      width: 400px;
    }
  }
  &--content {
    h4 {
      text-align: center;
      font-size: 25px;
      word-spacing: 2px;
      color: rgb(43, 165, 43);
      transform: translateY(-50%);
    }

    P {
      width: 500px;
      height: 125px;
      text-align: justify;
      letter-spacing: 1px;
      word-spacing: 1px;
      font-size: 15px;
      line-height: 25px;
      color: rgb(68, 66, 66);
    }
  }
  .none {
    display: none;
  }
  .block {
    display: inline;
  }
  .read-top {
    padding: 2px 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: rgb(43, 165, 43);
    color: rgb(243, 233, 233);
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-20px);
    transition: 0.2s;
  }
  .read-bottom {
    padding: 2px 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: rgb(43, 165, 43);

    color: black;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.2s;
  }
}

@media only screen and (max-width: 576px) {
  .about {
    // display: none;
    flex-direction: column;

    &--img {
      .flying-birds {
        width: 100px;
        left: 30%;
        position: absolute;
        transform: translateY(-20px);
      }
      .pipal-tree {
        width: 250px;
      }
    }
    &--content {
      h4 {
        text-align: center;
        font-size: 18px;
        word-spacing: 2px;
        color: rgb(43, 165, 43);
        transform: translateY(-50%);
      }
      P {
        width: 200px;
        text-align: justify;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 12px;
        line-height: 25px;
        color: rgb(68, 66, 66);
      }
    }
  }
}
