.hero--nature {
  position: relative;
  img {
    width: 100vw;
    height: 90vh;
    z-index: -1;
    position: absolute;
  }
  .homeh2 {
    margin: auto;
    // background-color: red;
    width: 30%;

    h2 {
      &:hover {
        color: green;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .hero--nature {
    position: relative;

    .homeh2 {
      width: 90%;
      margin: auto;
      h2 {
        transform: translateY(20px);
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
