.hero--nature {
  position: relative;
  img {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
  }
  .homeh2 {
    text-align: center;
    width: 100%;
    padding-top: 9%;

    h2 {
      text-shadow: -1px 0 rgb(238, 234, 234), 0 1px rgb(238, 234, 234),
        1px 0 rgb(238, 234, 234), 0 -1px rgb(238, 234, 234);
      color: green;
      transition: all 0.5s ease;
      word-spacing: 5px;

      &:hover {
        color: rgb(46, 148, 42);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .hero--nature {
    position: relative;

    .homeh2 {
      width: 100%;
      margin: auto;
      h2 {
        transform: translateY(80px);
        font-size: 15px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .hero--nature {
    .homeh2 {
      transform: translateY(50px);

    }
  }
}


